## os relics
.DS_Store

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex.gz

# Ignore any directory named literally "%OUTDIR%" anywhere in the repo
%OUTDIR%/

# Ignore all PDFs
*.pdf

# But keep PDFs inside docs/build/
!docs/build/*.pdf

# python
.mypy_cache/
__pycache__/
*.py[oc]